html{
    height:160%
}
body
{
    background: linear-gradient(#cce0ff, #ffffff)
}
#webcam
{
   width: 300px;
   height:300px;
   border-color:red; 
   border-style: ridge;
}

#webcamCapture
{
    width:300px;
    height:300px;
    border-color: red;
    border-style:ridge;
}